body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://source.unsplash.com/random/1280x800");
  color: #fff;
  height: 100%;

}

.currentDestination {
  text-align: center;
  position: relative;
  top: 300px;

}

.justify-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.items-center {
  -ms-flex-align: center;
  align-items: center;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.githubLink {
  text-decoration: none;
  color: #fff;
}

.f6 {
  font-size: .875rem;
}

.ttu {
  text-transform: uppercase;
}

.mt3 {
  margin-top: 1rem;
}

.tracked-mega {
  letter-spacing: .25em;
}


.fw4 {
  font-weight: 400;
}

.justify-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.items-center {
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ma0 {
  margin: 0;
}

.pa0 {
  padding: 0;
}

.list {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}




/*.form-control{
  font-size: 15px;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
 
  

}*/
.custom:focus{
  outline: none;
}

.navbar{
  background: none;
  border: none;
  text-shadow: 0;

}
h1,h2,h3,h4{
  color: white;

  text-shadow: 1px 3px 10px black;
}

.custom-grid{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-20%) translateY(-50%);
}
.buttons{
  padding-left: 10%;
}

.customH1{
 
 font-size: 3em;
 text-shadow: 1px 3px 10px black;

}